

.welcome {
  background-color: #FFFFFF;
  padding: 30px;
  /*height: 100%;*/
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.welcome h2 {
  color: #555555;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4em;
}
.welcome p {
  margin-left: auto;
  margin-right: auto;
}
.welcome .btn-brand {
  background-color: #0067B1;
  color: #FFFFFF;
  border-radius: 0px;
  padding: 12px 15px 10px 15px;
  font-weight: 600;
  margin-top: 15px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.3) ;
}
.mCSB_dragger_bar:active {
  background-color: rgba(0, 0, 0, 0.6);
}
/*#mCSB_1_container,*/
/*#mCSB_2_container {*/
/*  margin-right: 0;*/
/*}*/
.welcome-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: .55;
  z-index: 0;
}
.welcome-cmo {
  z-index: 10;
  position: relative;
}
.welcome-cmo h1 {
  color:#0067b1;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 20px;
}
.welcome-cmo h5 {
  font-size: 16px;
}
.welcome-cmo a {
  font-weight: 600;
  font-size: 16px;
  color: #2f3b45;
  width: 100%;
}
.welcome-cmo a:hover {
  text-decoration: none;
}
.input-cmo {
  padding: 10px 15px 10px 45px;
}
.input-cmo:focus,
.input-cmo:active {
  background-color: #FFFFFF;
  border-bottom: 1px solid #18B0AD;
}
.input-cmo::-webkit-input-placeholder {
  color: #808080;
}
.input-cmo:-moz-placeholder {
  /* Firefox 18- */
  color: #808080;
}
.input-cmo::-moz-placeholder {
  /* Firefox 19+ */
  color: #808080;
}
.input-cmo:-ms-input-placeholder {
  color: #808080;
}
.cmo-line {
  width: 100%;
  position: absolute;
  height: 8px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f3b45;
  z-index: 100;
}
.hd-mobile .btn-brand {
  background-color: #0067B1;
}
.form .btn, .form .btn-single, form .btn, form .btn-single {
  border-color: #c0c0c0;
  background: #f0f0f0;
}
form .btn-brand, .form .btn-brand, .btn-brand {
  background-color: #0067B1;
  color: #FFFFFF;
  margin-bottom: 20px;
}
form .btn-brand.focus, form .btn-brand:focus, form .btn-brand:hover, .btn-brand:hover {
  color: #FFFFFF;
  background-color: #0067B1;
}
.label-default {
  border-color: #2f3b45;
  color: #2f3b45;
  background-color: rgba(48,118,176, 0.07);
}
.submitted-circle i {
  color: #2f3b45;
}
.hd-search .result-keyword {
  background-color: #0067b1;
}
.hd-pagination {
  background-color: #efefef;
}

.hd-search h2 {

  font-size: 17px;
}
.hd-search .btn-brand {
  background-color: #0067B1;
  padding: 12px 20px;
  border-bottom: 1px solid #18b0ad;
}

table .btn-single {
  margin-bottom: 0px ;
  margin-right: 6px;
}

.hd-box-container .btn-single {
  margin-bottom: 10px;
  margin-right: 6px;
}

.step-circle {
  background-color: rgba(27, 69, 138, 0.07);
  border: 1px solid rgba(27, 69, 138, 0.07);
  border-radius: 100px;
  font-size: 12pt;
  font-weight: 600;
  width:27px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  text-align: center;
}



.cdtbc-app {
  position: relative;
}
.cdtbc-app h1 {
  color: #0067b1;
  font-weight: 600;
  font-size: 23px;
}
.cdtbc-app h5 {
  font-size: 16px;
}
.cdtbc-app a {
  font-weight: 600;
  font-size: 12pt;
  color: #1C5893;
  margin-bottom: 20px;
}
.disabled-step {
  cursor: not-allowed;
  pointer-events: none;
}
.disabled-step .app-step .step-circle {
  background-color: #f7f7f7;
}
.disabled-step .app-step {
  color: #909090;
}

.cdtbc-app a:hover {
  text-decoration: none;
}
.app-status a {
  color: #FFFFFF;
  font-weight: 600;
  display: block;
  padding: 0;
}

.app-status a:hover {
  text-decoration: none;
}

.app-step {
  padding: 5px 0px;
}

.appactive .step-circle {
  background-color: rgba(27, 69, 138, 0.1);
  border: 1px solid #18B0AD;
}

.cdtbc-app .hd-box-container h1{
  font-size: 19px;
  background-color: rgba(27, 69, 138, 0.06);
  color: #2f3b45;
  padding: 20px;
}

.hd-box-container h1{
   font-size: 19px;
   background-color: rgba(0,0,0, 0.03);
   color: #333333;
   padding: 20px;
}
.hd-box-container .row > h1 {
   margin-top: 0;
}
.hd-box-container h2 {
  background-color: rgba(0,0,0, 0.03) ;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
}
.table-add-new {
  color: #4d4d4d ;
  cursor: pointer;
}

.no-account {
  background-color: rgba(0, 98, 155, 0.07) ;
  color: #1C5893;
  padding: 15px;
  text-align: center;
}

.no-account a {
  color: #1C5893;
  font-weight: 600;
}

.app-addset {
  padding: 10px 15px;
  background-color: transparent;
  display: inline-block;
  color: #333;
  font-size: 12pt;
  border: 1px solid #e6e6e6;
  font-weight: 600;
}

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*flex:1 1 auto;*/
}

.row-flex-wrap {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'] {
  margin:-.2px;
}

.row-flex > div[class*='col-'] > div {
  width:100%;
}


.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.fix-to-top {
  position: fixed;
  top: 20px;
  left: 0;
  padding-left: 35px;
  padding-right: 8px;
  width: 25%;
  height: calc(100% - 20px);
  overflow: auto;
}

.welcome-submitted {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: #1C5893;
  font-weight: 600;
  font-size: 16px;
}


.cra-number {
  background-color: #f3f3f3;
  padding: 5px 10px;
  font-size: 11pt;
  float: right;
  margin-top: 5px;
}

.cra-number-m {
  background-color: #f3f3f3;
  padding: 5px 10px;
  display: block;
  width: 100%;
  font-size: 11pt;
  float: right;
  margin-top: 9px;
}

.modal-link{
  font-weight: 400;
  font-size: 13px;
  color: #1C5893;
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.org-req-list {
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  list-style-type: disc;
}

.modal-body{
  padding: 20px 15px 15px 15px;
}

.close{
  color: #525252;
  opacity: 1;
}



.hanging-indent {
  display: block;
  margin: 0;
  padding: 12px;
}
.hanging-indent input[type=checkbox], .hanging-indent input[type=radio] {
  float: left;
}
.hanging-indent > div, .hanging-indent > span {
  display: block;
  margin-left: 30px;
}
.label-indent {
  text-indent: 10px;
}

.radio-group-item {
  display: inline-block;
}

.radio-group-item:first-child input {
  margin: 0 5px 0px 0px
}

.radio-group-item input[type=checkbox] {
  margin: 0 5px 0px 10px;
}
.ng-hide.ng-hide-animate{
  display: none ;
}

.ng-show.ng-show-animate{
  display: none ;
}
.nscsw-content {
  background-color: #FFFFFF;
  padding: 50px;
}

.nscsw-content p {
  font-size: 16px;
}

.form-control, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: 400;
}

textarea:active, textarea:focus {
  border-radius: 3px;
}

.k-multiselect .k-delete {
  position: relative;
}

.k-multiselect-wrap .k-button .k-delete:after {
  content: '\f00d';
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 12px;
  color: #ccc;
  position: absolute;
  left:4px;
  top: 2px;
}

input[type=radio] {
  margin-left: 10px;
  margin-right: 5px;
}
input[type=text]::-ms-clear {
  display: none;
}

.hd-box-container .btn-single, table tr td .btn-single {
  color: inherit;
  border-radius: 3px ;
  margin-bottom: 0;
}

.app-type {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding:25px;
  margin-bottom: 15px;
  position: relative;
}

.app-type h3 {
  color: #2f3b45;
  margin-top: 0;
}

.app-type .btn {
  margin: 0;
}


.input-group .form-control {
  padding-left: 50px;
}

.search-advanced {
  background-color: rgba(27, 69, 138, 0.05);
  padding: 30px 30px 40px 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(48, 118, 176, 0.09);
  border-radius: 4px;
}

.search-advanced h2 {
  font-size: 17px;
  color: #066b97;
  font-weight: 600;
}

/*.progress {*/
  /*margin-top: 0;*/
/*}*/
/*.app-step.info {*/
  /*margin-top: 0;*/
/*}*/
/*.app-step.info .step-circle{*/
  /*margin-top: 10px;*/
/*}*/

.nscsw-css .k-list .k-state-focus, .nscsw-css .k-item.k-state-focus {
  background-color: #e6e6e6;
  border: 0px;
  border-width: 0px;
  padding: 0;
}
.nscsw-css .k-popup .k-list .k-item, .nscsw-css .k-fieldselector .k-list .k-item {
  padding: 0px;
  border-width: 0;
}
.nscsw-css .activate-right-side .k-dropdown {
  width: 100%;
}
.nscsw-css .activate-right-side .k-dropdown-wrap.k-state-default:hover {
  transition: border-color 0.5s;
}
.nscsw-css .activate-right-side .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused {
  background-color: white;
}
.nscsw-css .activate-right-side .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-input {
  background-color: white;
  line-height: 2.13em;
}
.nscsw-css .activate-right-side .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-select {
  background-color: white;
}
.nscsw-css .activate-right-side input.k-textbox:focus, .nscsw-css input.k-textbox:active {
  background-color: white;
  transition: border-color 0.5s;
}
.nscsw-css .signup-right .k-dropdown-wrap .k-input {
  text-indent: 0.9em;
}
.nscsw-css .signup-right .k-dropdown .k-input {
  padding-left: 0;
}
.nscsw-css .signup-right .k-dropdown {
  width: 100%;
}
.nscsw-css .signup-right .k-dropdown-wrap.k-state-default:hover {
  transition: border-color 0.5s;
}
.nscsw-css .signup-right .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused {
  background-color: white;
}
.nscsw-css .signup-right .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-input {
  background-color: white;
  line-height: 2.13em;
}
.nscsw-css .signup-right .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-select {
  background-color: white;
}
.nscsw-css .signup-right input.k-textbox:focus, .nscsw-css input.k-textbox:active {
  background-color: white;
  border-color: #ccc;
  transition: border-color 0.5s;
}
.nscsw-css .k-i-arrow-s:before {
  content: "\e602";
}
.nscsw-css .demo-section {
  border: 0px;
}
/*.nscsw-css #fieldlist label {*/
/*  text-transform: capitalize;*/
/*  color: #999;*/
/*  font-weight: 300;*/
/*  font-size: 12pt;*/
/*}*/
.nscsw-css .k-dropdown-wrap.k-state-default .k-input,
.nscsw-css .k-dropdown-wrap.k-state-disabled .k-input {
  line-height: 2.13em;
  height: 2.13em;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
  box-shadow: none;
  color: #333;
  text-indent: 0.3em;
  width: calc(100% - 65px) !important;
}
.nscsw-css .k-dropdown-wrap.k-state-default {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #e6e6e6;
  box-shadow: none;
}
.nscsw-css .k-dropdown-wrap.k-state-default:hover {
  border-color: #d5d5d5;
}
.nscsw-css .k-textbox {
  border-color: #e6e6e6;
}
.nscsw-css .k-textbox:hover {
  border-color: #d5d5d5;
}
.nscsw-css .k-select {
  background-color: white;
  /*;*/
  border-radius: 0px;
}
.nscsw-css input.k-textbox {
  color: #808080;
  font-size: 17px;
  font-weight: 300;
  height: 2.65em;
  text-indent: 0;
}
.nscsw-css input.k-textbox:focus, .nscsw-css input.k-textbox:active {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-dropdown .k-input {
  background-color: white;
  /*;*/
  border-radius: 0px;
  font-weight: 300;
  padding-left: 10px;
  border: 0px;
  color: #333;
  font-size: 17px;
}
.nscsw-css .k-popup .k-list .k-item {
  font-size: 17px;
  font-weight: 300;
  padding-left: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #808080;
}
.nscsw-css .k-dropdown .k-input:focus, .nscsw-css .k-dropdown .k-input:active {
  box-shadow: none;
  border: 0px;
  transition: background-color 0.5s;
}
.nscsw-css .k-dropdown {
  background-color: transparent;
}
.nscsw-css .k-list-container {
  background-color: #f7f7f7;
  color: #333;
}
.nscsw-css .k-state-focused.k-state-selected {
  background-color: #e6e6e6;
  border-radius: 0px;
  color: #333;
  background-image: none;
  border: 0px;
}
.nscsw-css .k-state-hover {
  background-color: #ededed;
  border-radius: 0px;
  border-color: #ededed;
  background-image: none;
}
.nscsw-css .k-list-container .k-state-hover {
  border: 0px;
}
.nscsw-css .k-animation-container {
  box-shadow: none;
}
.nscsw-css .k-list-container {
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
}
.nscsw-css .k-dropdown-wrap .k-select {
  line-height: 4em;
  padding-right: 15px;
}
.nscsw-css .k-dropdown-wrap .k-input {
  height: 2.13em;
}
.nscsw-css .k-state-border-down {
  border: 0px;
}
.nscsw-css .k-i-arrow-s {
  background-image: none;
  color: transparent;
}
.nscsw-css .addicon {
  width: 5px;
  height: 5px;
}
.nscsw-css .removeicon {
  width: 5px;
  height: 5px;
}
.nscsw-css .addicon:before {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css .removeicon:before {
  content: "\f106";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css #example h4 {
  text-transform: capitalize;
  color: #999;
  font-weight: 300;
  font-size: 12pt;
}
.nscsw-css .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused {
  background-color: #f7f7f7;
}
.nscsw-css .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-select {
  background-color: #f7f7f7;
  padding-right: 15px;
}
.nscsw-css .k-dropdown-wrap.k-state-default.k-state-border-down.k-state-active.k-state-focused .k-input {
  background-color: #f7f7f7;
  line-height: 2.13em;
}
.nscsw-css #fieldlist label {
  text-transform: capitalize;
  color: #999;
  font-weight: 300;
  font-size: 12pt;
}
.nscsw-css .k-textbox {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.nscsw-css .k-textbox::-webkit-input-placeholder {
  font-size: 17px;
}
.nscsw-css input.k-textbox:focus, .nscsw-css input.k-textbox:active {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css #fieldlist {
  margin: 0 0 -2em;
  padding: 0;
  margin-top: 30px;
}
.nscsw-css #fieldlist li {
  list-style: none;
  padding-bottom: 2em;
}
.nscsw-css #fieldlist label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
}
.nscsw-css #fieldlist input {
  width: 100%;
}
.nscsw-css .k-datepicker {
  border-radius: 0px;
}
.nscsw-css .k-datepicker:active, .nscsw-css .k-datepicker:focus {
  background-color: #f7f7f7;
}
.nscsw-css .k-datepicker .k-state-focused, .nscsw-css .k-picker-wrap .k-state-focused {
  box-shadow: none;
  background-color: #f7f7f7;
}
.nscsw-css .k-picker-wrap .k-input, .nscsw-css .k-picker-wrap {
  border-radius: 0px;
}
.nscsw-css .k-picker-wrap .k-input {
  height: 2.13em;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
  box-shadow: none;
  color: #333;
  text-indent: 0.3em;
}
.nscsw-css .k-picker-wrap .k-input:active, .nscsw-css .k-picker-wrap .k-input:focus {
  transition: background-color 0.5s;
  margin-bottom: -1px;
}
.nscsw-css .k-picker-wrap.k-state-default {
  border-color: #e6e6e6;
}
.nscsw-css .k-picker-wrap.k-state-default:hover {
  border-color: #d5d5d5;
}
.nscsw-css .k-picker-wrap .k-select {
  border: 0px;
  padding-right: 15px;
}
.nscsw-css .k-picker-wrap.k-state-focused .k-select {
  /*border-bottom: 1px solid #2e3192 ;*/
  padding-right: 15px;
}
.nscsw-css .k-calendar a {
  color: #333;
}
.nscsw-css .k-calendar .k-header .k-i-arrow-e:hover, .nscsw-css .k-calendar .k-header .k-nav-next:hover, .nscsw-css .k-calendar .k-header .k-nav-prev:hover {
  background-color: transparent;
}
.nscsw-css .k-calendar .k-header .k-i-arrow-w:hover {
  background-color: transparent;
}
.nscsw-css .k-calendar .k-header .k-nav-next:before {
  content: '\f0da';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
  pointer-events: none;
  color: #808080;
  text-align: center;
}
.nscsw-css .k-calendar .k-header .k-nav-prev:after {
  content: '\f0d9';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
  pointer-events: none;
  color: #808080;
  text-align: center;
}
.nscsw-css .k-calendar-container {
  box-shadow: none;
  border: 1px solid #e6e6e6;
  padding: 0px;
}
.nscsw-css .k-calendar .k-header {
  background-color: #e6e6e6;
  background-image: none;
}
.nscsw-css .k-calendar .k-content {
  background-color: white;
}
.nscsw-css .k-calendar th {
  font-size: 11pt;
  color: #333;
}
.nscsw-css .k-calendar .k-state-focused {
  background-color: #e6e6e6;
  box-shadow: none;
}
.nscsw-css .k-other-month .k-link {
  color: #ccc;
}
.nscsw-css .k-state-focused.k-state-selected {
  background-color: #e6e6e6;
  box-shadow: none;
}
.nscsw-css .k-state-focused.k-state-selected a {
  color: #333;
}
.nscsw-css .k-other-month a {
  color: #f2f2f2;
}
.nscsw-css .k-calendar .k-footer a {
  background-color: white;
  border-top: 1px solid #e6e6e6;
}
.nscsw-css .k-calendar tbody {
  border: 0px;
}
.nscsw-css .k-calendar td {
  border: 0px;
}
.nscsw-css textarea {
  box-shadow: none;
}
.nscsw-css textarea:active, .nscsw-css textarea:focus {
  border: 1px solid #ccc;
  transition: border 0.3s;
}
.nscsw-css .k-textbox.k-space-right {
  padding-right: 0px;
}
.nscsw-css .k-textbox > input {
  border-radius: 0px;
  height: 2.13em;
  line-height: 2.13em;
  font-size: 21px;
  font-weight: 300;
}
.nscsw-css .k-textbox .k-icon {
  margin-right: 15px;
  color: #999;
}
.nscsw-css .k-textbox > input:active, .nscsw-css .k-textbox > input:focus {
  background-color: #f7f7f7;
  transition: background-color 0.5s;
}
.nscsw-css .k-button, .nscsw-css #textButton {
  border-color: #ccc;
  border-radius: 0px;
  padding: 9px 15px;
  background-color: white;
  box-shadow: none;
  color: #333;
}
.nscsw-css #textButton {
  border: 1px solid #ccc;
}
.nscsw-css .k-button:hover, .nscsw-css #textButton:hover {
  border-color: #ccc;
  border-radius: 0px;
  padding: 9px 15px;
  background-color: #f2f2f2;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-primary {
  border-radius: 0px;
  background-color: #f2f2f2;
  border: 0px;
  color: #333;
  padding: 10px 15px;
  background-image: none;
}
.nscsw-css .k-primary:hover {
  background-color: #e9eaea;
  border: 0px;
  color: #333;
  padding: 10px 15px;
  border-color: #e9eaea;
  transition: background-color 0.5s;
}
.nscsw-css .k-primary:focus, .nscsw-css .k-primary:active, .nscsw-css .k-button:focus, .nscsw-css .k-button:active {
  color: #333;
}
/*.nscsw-css #primaryDisabledButton {*/
/*  background-color: #f2f2f2;*/
/*  color: #d4d5d5;*/
/*}*/
/*.nscsw-css #primaryDisabledButton:hover {*/
/*  text-decoration: none;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  cursor: default;*/
/*}*/
/*.nscsw-css #disabledButton {*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 0px;*/
/*  padding: 9px 15px;*/
/*  background-color: white;*/
/*  box-shadow: none;*/
/*  color: #d4d5d5;*/
/*  text-decoration: none;*/
/*  cursor: default;*/
/*}*/
/*.nscsw-css #color_listbox li:last-child {*/
/*  color: #b3b3b3;*/
/*  font-size: 13px;*/
/*  border-top: 1px solid #e6e6e6;*/
/*  font-weight: 500;*/
/*}*/
/*.nscsw-css #color_listbox li:last-child:before {*/
/*  content: "\f067";*/
/*  font-family: 'FontAwesome';*/
/*  margin-right: 5px;*/
/*}*/
/*.nscsw-css #color_listbox li:last-child:hover {*/
/*  background-color: #f7f7f7;*/
/*}*/
.nscsw-css .k-widget.k-tooltip-validation {
  border: 0px;
  background-color: #e6e6e6;
  border-radius: 0px;
  box-shadow: none;
  padding: 10px;
  background-image: none;
  color: #333;
  margin-left: 30px;
  position: relative;
}
.nscsw-css .k-widget.k-tooltip-validation:before {
  position: absolute;
  margin-left: -12px;
  margin-top: -2px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #e6e6e6 transparent transparent;
  content: '';
}
.nscsw-css .k-autocomplete {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #e6e6e6;
}
.nscsw-css .k-autocomplete.k-state-hover input {
  border-color: #d5d5d5;
}
.nscsw-css .k-autocomplete .k-input {
  border-radius: 3px;
  height: 2.13em;
}
.nscsw-css input.k-autocomplete:focus, .nscsw-css input.k-autocomplete:active {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-autocomplete.k-state-focused, .nscsw-css .k-autocomplete .k-input:active, .nscsw-css .k-autocomplete .k-input:focus {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-numerictextbox .k-select {
  border-left: 0px;
}
.nscsw-css span.k-numerictextbox {
  height: 2.13em;
  font-size: 21px;
  color: #333;
}
.nscsw-css .k-numeric-wrap.k-state-focused .k-link, .nscsw-css .k-numeric-wrap .k-input:active .k-link, .nscsw-css .k-numeric-wrap .k-input:focus .k-link {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-numerictextbox, .nscsw-css .k-numeric-wrap {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #e6e6e6;
}
.nscsw-css .k-numeric-wrap.k-state-default {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #e6e6e6;
}
.nscsw-css .k-numeric-wrap.k-state-focused, .nscsw-css .k-numeric-wrap .k-input:active, .nscsw-css .k-numeric-wrap .k-input:focus {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: background-color 0.5s;
}
.nscsw-css .k-input {
  color: #333;
  font-weight: 300;
}
.nscsw-css .k-numeric-wrap .k-i-arrow-n:before {
  content: "\f106";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css .k-numeric-wrap .k-i-arrow-s:before {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css .k-numeric-wrap .k-icon {
  display: inline;
}
/*.nscsw-css #fieldlist .accept input {*/
/*  width: auto;*/
/*  float: left;*/
/*}*/
/*.nscsw-css #fieldlist .accept p {*/
/*  line-height: 1.5em;*/
/*  margin-left: 20px;*/
/*  display: block;*/
/*}*/
.nscsw-css .accept .k-invalid ~ p {
  margin-top: -35px;
  display: block;
  margin-left: -70px;
}
.nscsw-css .accept .k-tooltip-validation {
  margin-left: 237px;
}
.nscsw-css .k-grid-filter .k-filter {
  color: #ccc;
}
.nscsw-css .k-grid-filter .k-filter:before {
  content: "\f0b0";
  font-family: FontAwesome;
  margin-top: 7px;
  font-size: 12px;
  position: absolute;
}
.nscsw-css .k-grid .k-grid-footer {
  padding-right: 0 !important;
}
.nscsw-css .k-filter-menu {
  font-family: "ff-dax-web-pro", sans-serif;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 0px;
  box-shadow: none;
}
.nscsw-css .k-filter-help-text {
  margin-bottom: 15px;
  font-size: 11pt;
  font-weight: 300;
}
.nscsw-css .k-filter-menu:focus, .nscsw-css .k-filter-menu:active {
  border: 1px solid #e6e6e6;
}
.nscsw-css .k-filter-menu .k-button {
  font-size: 11pt;
  border-color: #ccc;
  border-radius: 0;
  padding: 5px 10px;
  background-color: #FFFFFF;
  box-shadow: none;
  color: #333;
}
.nscsw-css .k-filter-menu .k-primary {
  background-color: #e6e6e6;
}
.nscsw-css .k-header {
  background-color: white;
  border: 0px;
}
.nscsw-css .k-grid-toolbar .k-icon {
  display: none;
}
.nscsw-css .k-grid-header {
  border-top: 1px solid #e6e6e6;
  border-bottom: 0px;
}
.nscsw-css #rowSelection {
  max-height: none;
}
.nscsw-css #example {
  margin-top: 0;
  margin-bottom: 0;
}
.nscsw-css .k-grid-header th.k-header {
  padding: 20px 30px 20px 15px;
  font-size: 11pt;
  color: #808080;
}
.nscsw-css .k-grid-header .k-header > .k-link {
  color: #808080;
  font-size: 11pt;
}
/*.nscsw-css #grid .k-grid-toolbar {*/
/*  background-color: #f7f7f7;*/
/*}*/
.nscsw-css .k-grid-header-wrap {
  border: 0px;
}
.nscsw-css .k-grid-header {
  background-color: white;
}
.nscsw-css .k-grid-header tr th {
  border-bottom: 1px solid #e6e6e6;
}
.nscsw-css .k-alt {
  background-color: white;
}
.nscsw-css .k-alt:active {
  background-color: #f7f7f7;
}
.nscsw-css tbody tr td {
  border-left: 0;
  border-right: 0;
  font-size: 11pt;
  color: #333;
  vertical-align: middle;
}
.nscsw-css .k-state-selected {
  background-color: #f7f7f7;
  box-shadow: none;
}
.nscsw-css .k-pager-wrap > .k-link:hover {
  background-color: white;
}
.nscsw-css .k-pager-numbers .k-link:hover {
  background-color: white;
}
.nscsw-css .k-pager-info {
  color: #c9c9c9;
}
.nscsw-css .k-state-focused {
  box-shadow: none;
}
.nscsw-css #cellSelection_active_cell {
  color: #333;
}
.nscsw-css .k-pager-wrap {
  background-color: white;
  border-top: 1px solid #e6e6e6;
  padding: 20px;
}
.nscsw-css .k-grid .k-widget {
  border-top: 1px solid #e6e6e6;
}
.nscsw-css .k-state-selected {
  border: 0px;
}
.nscsw-css .k-pager-numbers .k-state-selected {
  background-color: #f2f2f2;
  color: #333;
  font-size: 12pt;
  min-width: 1em;
  margin-top: 3px;
  line-height: 1.5em;
  font-weight: 700;
  padding: 0px 5px;
}
.nscsw-css .k-pager-numbers .k-link {
  min-width: auto;
  padding: 3px 10px;
  font-size: 12pt;
  border: none;
  line-height: 1.5em;
}
.nscsw-css .k-pager-numbers .k-link:link {
  color: #c9c9c9;
}
.nscsw-css .k-pager-numbers .k-link:link:hover {
  color: #666;
  background-color: white;
}
.nscsw-css .k-pager-numbers.k-reset {
  border-color: #FFFFFF;
  border: 1px;
}
.nscsw-css .k-pager-nav {
  border: 0px;
}
.nscsw-css .k-pager-nav:hover {
  background-color: white;
}
.nscsw-css .k-pager-sizes {
  font-size: 13px;
}
.nscsw-css .k-pager-sizes .k-select {
  width: 1.4em;
  padding-right: 7px;
}
.nscsw-css .k-pager-sizes .k-select .k-icon {
  display: inline-block;
}
.nscsw-css .k-state-disabled .k-icon {
  color: #ccc;
  width:0;
  margin-right: 16px;
}
.nscsw-css .k-state-disabled span {
  color: #c9c9c9;
}
.nscsw-css .gotoright {
  float: right;
  margin-right: 30px;
}
.nscsw-css .gotoright > span.k-pager-nav {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .nscsw-css .k-webkit .k-grid .k-pager-numbers {
    left: auto;
  }
  .nscsw-css .gotoright > span.k-pager-nav {
    display: none;
  }
}
.nscsw-css .k-grid-pager .k-pager-numbers {
  vertical-align: middle;
  padding-top: 2px;
}
.nscsw-css .k-grid-pager .k-dropdown-wrap.k-state-default .k-input {
  line-height: 1.5em;
}
.nscsw-css .k-grid-pager .k-dropdown-wrap .k-input {
  height: 1.5em;
}
.nscsw-css .k-grid-pager .k-dropdown-wrap .k-select {
  line-height: 1.5em;
}
.nscsw-css .k-grid-pager .k-dropdown-wrap .k-select .k-i-arrow-s:before {
  content: "\f107";
  font-family: FontAwesome;
  color: #999;
  font-size: 18px;
  position: absolute;
  padding-top: 10px;
}
.nscsw-css .k-grid-pager .k-dropdown-wrap.k-state-default {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}
.nscsw-css .demo-section {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.nscsw-css html {
  background-color: white;
}
.nscsw-css .k-widget {
  border: 0px;
}
/*.nscsw-css #grid .k-grid-toolbar {*/
/*  padding: 0.6em 1.3em;*/
/*}*/
.nscsw-css .category-label {
  vertical-align: middle;
  padding-right: 0.5em;
}
.nscsw-css #category {
  vertical-align: middle;
}
.nscsw-css .toolbar {
  float: right;
}
.nscsw-css .k-grid-toolbar {
  padding-left: 0;
}
.nscsw-css .k-grid-toolbar .k-button {
  font-family: "ff-dax-web-pro", sans-serif;
}
.nscsw-css .k-grid-toolbar .k-button .k-icon {
  color: inherit;
}
.nscsw-css .k-grid td {
  border-color: #e6e6e6;
}
.nscsw-css .k-button-icontext {
  border-radius: 0px;
  background-image: none;
  background-color: #f2f2f2;
  border: 0px;
  color: #666;
  margin-left: 10px;
  margin-right: 10px;
}
.nscsw-css .k-button-icontext:hover, .nscsw-css .k-button-icontext:focus, .nscsw-css .k-button-icontext:active {
  color: #333;
  box-shadow: none;
  background-color: #f2f2f2;
}
.nscsw-css .k-button-icontext .k-icon:hover {
  background-color: #f2f2f2;
}
.nscsw-css .k-grid-content {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.nscsw-css .k-i-seek-w:before {
  content: "\f048";
  font-family: FontAwesome;
  margin-top: 7px;
  font-size: 12px;
  position: absolute;
}
.nscsw-css .k-i-seek-e:before {
  content: "\f051";
  font-family: FontAwesome;
  margin-top: 7px;
  font-size: 12px;
  position: absolute;
}
.nscsw-css .k-i-arrow-w:before {
  content: "\f0d9";
  font-family: FontAwesome;
  margin-top: 7px;
  font-size: 16px;
  position: absolute;
}
.nscsw-css .k-i-arrow-e:before {
  content: "\f0da";
  font-family: FontAwesome;
  margin-top: 7px;
  font-size: 16px;
  position: absolute;
}
.nscsw-css .k-multiselect-wrap ul {
  border: 0;
}
.nscsw-css .k-multiselect-wrap .k-delete {
  margin-right: -5px;
}
.nscsw-css .k-multiselect-wrap .k-delete:hover {
  background-color: transparent;
}
.nscsw-css .k-multiselect-wrap .k-select {
  background-color: transparent;
}
.nscsw-css .k-multiselect-wrap .k-select .k-i-close {
  background-color: transparent;
}
.nscsw-css .k-multiselect-wrap .k-button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.nscsw-css .k-multiselect-wrap .k-input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #e6e6e6;
  width: 96.5%;
  padding: 10px 15px 10px 15px;
  color: #808080;
  font-weight: 300;
  font-size: 17px;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-indent: 0.3em;
  margin-top: -2px;
}
.nscsw-css .k-multiselect-wrap .k-input:focus {
  border-bottom: 1px solid #ccc;
}
.nscsw-css .k-window div.k-window-content {
  overflow-x: hidden;
}
.nscsw-css .k-numeric-wrap .k-i-arrow-n:before {
  content: "\f106";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css .k-numeric-wrap .k-i-arrow-s:before {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
}
.nscsw-css .k-select .k-i-arrow-s:before {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
}
.nscsw-css .k-select .k-i-arrow-s:before {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  position: absolute;
}
.nscsw-css .k-select .k-i-calendar:before {
  content: "\f073";
  font-family: 'FontAwesome';
  color: #999;
  font-size: 18px;
  margin-top: 10px;
  position: absolute;
}

.nscsw-css .k-dropdown .k-icon, .nscsw-css .k-datepicker .k-icon, .nscsw-css .k-multiselect .k-icon {
  color: transparent;
}

.nscsw-css .k-autocomplete.k-state-default, .nscsw-css .k-dropdown-wrap.k-state-default, .nscsw-css .k-numeric-wrap.k-state-default, .nscsw-css .k-picker-wrap.k-state-default {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-image: none;
  background-color: transparent;
  padding: 0;
}
.nscsw-css .k-autocomplete.k-state-hover, .nscsw-css .k-dropdown-wrap.k-state-hover, .nscsw-css .k-numeric-wrap.k-state-hover, .nscsw-css .k-picker-wrap.k-state-hover {
  background-color: #fafafa;
}
.nscsw-css .k-autocomplete.k-state-default:hover, .nscsw-css .k-dropdown-wrap.k-state-default:hover, .nscsw-css .k-numeric-wrap.k-state-default:hover, .nscsw-css .k-picker-wrap.k-state-default:hover {
  border: 1px solid #ccc;
  background-color: transparent;
}
.nscsw-css .k-dropdown-wrap .k-input, .nscsw-css .k-numeric-wrap .k-input, .nscsw-css .k-picker-wrap .k-input {
  border: 0;
  background-color: transparent;
}
.nscsw-css .k-dropdown-wrap .k-select, .nscsw-css .k-picker-wrap .k-select {
  border: 0;
  background: transparent;
  background-color: transparent;
}
.nscsw-css .k-datepicker.k-header.hasError {
  background-color: rgba(226,52,86,.1);
}
.nscsw-css .k-multiselect-wrap {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-image: none;
  background-color: #FFFFFF;
}
.nscsw-css .k-multiselect-wrap .k-button {
  padding: 0 11px;
  margin: 10px;
  border-radius: 3px;
}
.nscsw-css .k-multiselect-wrap .k-input, .nscsw-css .k-multiselect-wrap .k-input:focus {
  border: 0;
  margin-top: 0;
}

.nscsw-css .hd-transparent-box table tr th {
  background-color: transparent;
}
.nscsw-css .hd-transparent-box .table-striped > tbody > tr:nth-of-type(odd), .nscsw-css tbody tr:focus {
  background-color: transparent;
}
.nscsw-css .hd-box-container h2 {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
}
.nscsw-css .table-add-new {
  color: #333;
  cursor: pointer;
}
.nscsw-css .no-account {
  background-color: rgba(28, 88, 147, 0.08);
  color: #1C5893;
  padding: 15px;
  text-align: center;
}
/*.nscsw-css .k-autocomplete .k-input {*/
/*border-radius: 0;*/
/*border-bottom: 1px solid #e6e6e6;*/
/*height: 40px;*/
/*font-size: 17px;*/
/*}*/
/*.nscsw-css .k-state-disabled .k-icon {*/
/*color: transparent;*/
/*}*/
/*.nscsw-css .k-dropdown-wrap .k-input, .nscsw-css .k-numeric-wrap .k-input, .nscsw-css .k-picker-wrap .k-input {*/
/*border-radius: 3px 0 0 3px;*/
/*border-left: solid 1px #e6e6e6;*/
/*border-top: solid 1px #e6e6e6;*/
/*}*/
/*.nscsw-css .k-dropdown-wrap .k-select {*/
/*line-height: 4em;*/
/*border-top: solid 1px #e6e6e6;*/
/*border-right: solid 1px #e6e6e6;*/
/*border-left: none;*/
/*height: 41.75px;*/
/*padding-left: 0px;*/
/*}*/
/*.nscsw-css .k-picker-wrap.k-state-default {*/
/*border-color: #e6e6e6;*/
/*padding-right: 10px;*/
/*}*/
/*.nscsw-css .k-picker-wrap .k-select {*/
/*border-left: 0;*/
/*border-top: solid 1px #e6e6e6;*/
/*border-bottom: solid 1px #e6e6e6;*/
/*border-right: solid 1px #e6e6e6;*/
/*}*/
.nscsw-css .modal-backdrop {
  z-index: initial;
}
.nscsw-css input[role='combobox'] {
  font-size: 17px;
}
.nscsw-css .k-numeric-wrap .k-i-arrow-s:before, .nscsw-css .k-select .k-i-arrow-s:before {
  content: "\f107";
  font-family: FontAwesome;
  color: #999;
  font-size: 18px;
  position: absolute;
  background-color: transparent;
}

.nscsw-css .k-header.hasError {
  background-color: rgba(226,52,86,.1);
}

.nscsw-css .hasError .k-multiselect-wrap.k-floatwrap {
  background-color: rgba(226,52,86,.1);
}

.nscsw-css .hd-box-container h3 {
  font-size: 19px;
  color: #2f3b45;
  font-weight: 600;
}

.nscsw-check {
  height: 65px;
}


.nscsw-css .table-bordered:focus, .nscsw-css .table-bordered:active {
  border: 1px solid #ddd;
}

.nscsw-css .box-container-title .row {
  margin-right: 0;
  margin-left: 0;
}

.nscsw-css .k-list-container{
  background-color: #FFFFFF;
}

.nscsw-css .progress-bar {
  background-color: #2f3b45;
}

.payment button[type=submit] {
  background-color: #2f3b45;
}

.header-bar {
  background: #fff no-repeat bottom center;
  border-bottom: 1px solid #538b8a;
  margin-bottom: 20px;
}

.header-bar img {
  height: 100px;
  margin: 10px;
}

/**
 * Public Register Styles
 */


/**
 * Complaint Form Styles
 */


/**
 * Application Portal Styles
 */

.app-status {
  background: #0067B1;
  border: 1px solid #FFFFFF;
  padding: 25px;
  margin-bottom: 20px;
}

.app-status .app-step {
  margin-right: 15px;
  line-height: 27px;
}
.app-status .app-step .step-circle {
  float: left;
}
.app-status .app-step .step-label {
  overflow: hidden;
  font-weight: bold;
  padding-left: 10px;
}

/**
 * Service Portal Styles
 */

@media screen and (max-width: 768px) {
  .app-type {
    padding-right: 25px;
  }
  .app-type:after {
    content: '';
  }
}

@media screen and (max-width: 992px) {

  .nscsw-content {
    padding: 30px;
  }
  .nscsw-heading-banner h1 {
    padding-left: 30px;
    padding-top: 150px;
  }
  .nscsw-check {
    height: auto;
  }
}

@media screen and (max-width: 768px) {

  .save-message {
    display: block;
    margin-left: 0;
  }
  .nscsw-css .box-container-title .step-title {
    display: block;
    line-height: initial;
    margin: 0;
  }
  .header-bar {
    height: 100px;
  }
  .header-bar img {
    margin: 3px 0 0 0;
    height: 90px;
  }
}

@media screen and (max-width: 540px) {
  .cra-number {
    display: block;
    width: 100%;
  }
}

.powered-by {
  color: black;
}

.powered-by a {
  color: #CC0177;
}

.powered-by.register {
  color: #6F7271;
}
.powered-by.register a {
  color: #CC0177;
}

.hd-mobile-logo {
  padding: 0;
}

/* Bug! */
/*:active, :focus {*/
/*  outline: initial;*/
/*  border: initial;*/
/*}*/

h1 {
  color: #0067b1 ;
  margin-top: 30px;
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  color: #555555!important;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4em;
}

.footer{
  margin-top: 20px;
  margin-bottom: 10px;
}

.hd-controller.stage-one .hd-header .logo{
  width: 300px;
  margin: 20px 20px 20px 20px;
}
.hd-vertical-align {
  overflow-x: hidden !important;
}

.left{
  right: auto;
}

.hd-header{
  background: #2f3b45!important;
}

.or-important-text p {
  color: #ff0000;
  font-weight: 600;
}

.hd-box-container h1.financial-report-heading,
.hd-box-container h2.financial-report-heading{
  background-color: rgba(0,0,0,0);
  color: #000 !important;
  display: block;
  text-align: center;
  margin: 0;
  padding: 4px 0;
}

.hd-box-container h1.financial-report-heading {
  font-size: 2em;
}

.hd-box-container h2.financial-report-heading {
  font-size: 1.2em;
}

.signature {
  border: 0;
  border-bottom: 1px solid #000;
}

/* cco style address block */
.cco-address {
  background-color: #f7f7f7;
  padding: 20px;
}

.cco-address h1 {
  font-size: 16px;
  margin-bottom: 10px ;
  margin-top: 0;
}

.cco-address span {
  color: #b3b3b3;
  font-size: 11pt;
}

.cco-address p {
  margin: 0;
}

.cco-address label {
  font-weight: 700 ;
  padding-top: 0 ;
  font-size: 11pt;
  margin-bottom: 0 ;
}

.hd-blue-bar {
  background-color: #2f3b45;
  font-size: 12pt;
  height: 50px;
  line-height: 50px;
  padding-right: 45px;
  text-align: right;
}
.hd-blue-bar a, .hd-blue-bar span {
  color: #FFFFFF;
}
.hd-blue-bar a {
  font-weight: bold;
  padding-left: 30px;
}

.hd-blue-bar .hd-blue-bar-name {
  display: inline-block;
  height: 100%;
  max-width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hd-blue-bar .hd-blue-bar-logout {
  float: right;
}

.resource-search-input {
  display: inline-block;
  height: 46px;
  padding-left: 15px;
  width: calc(100% - 114px);
}

.resource-search-btn {
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 8px;
  width: 100px;
}

.resource-search-btn button {
  border-left: 0;
  height: 46px;
  margin: 0 !important;
  width: 100%;
}

/* client specific overwrites*/

.hd-left-content{
  background-color: #fff;
}

@media only screen and (min-width: 992px) {
  .hd-controller.public  {
    color: black;
    position: absolute;
    bottom: 0;
    margin: 20px;
    text-align: left;
  }
  .hd-controller.public  a{
    color: #cc0177;
  }
}

.hd-mobile-menu, .hd-top-bar {
  border-bottom: 1px solid #538b8a;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}

.hd-user-nav a {
  display: inline-block;
  color: #1C5893;
  margin-top: 20px;
  padding: 39px 30px;
  font-weight: 600;
}

.hd-left-menu li a {
  display: block;
  padding: 10px 10px;
}

.app-sub-menu-parent {
  color: #FFFFFF;
  display: block;
  font-weight: 600;
  font-size:15px;
  padding: 10px 10px;
}

.dashboard p {
  font-size: 17px !important;
  color: #394f56;
  background-color: rgba(31, 80, 109, 0.05);
  padding: 8px 10px;
}

.box {
  float: right;
  width: 50%;
  padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {

    padding: 5%;
    margin:0px auto;
    background:#fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }