<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> College Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/college.css">
    <link rel="stylesheet" href="css/ApplicationStyleSheet.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div th:replace="topbanner"></div>
<!-- content start -->

    <div id="application_container">
        <div class="main-container">
            <div th:replace="topmenu"></div>



            <div class="container_inner">
                <div class="login_new1" id="operation-container">
                    <table cellpadding="2" cellspacing="2" width="100%">
                        <tbody><tr>
                            <td>
                                <img src="./images/ImghomeUser.png">
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" align="center" valign="top">
                                <div class="login_new1">
                                    <table width="100%" cellpadding="2" cellspacing="4" align="left">
                                        <colgroup>
                                            <col span="1" style="width: 20%;">
                                            <col span="1" style="width: 80%;">

                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Email</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input type="text" id="email" value="">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">First Name</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input type="text" id="firstName" value="">

                                            </td>

                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Last Name</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input type="text" id="lastName" value="">

                                            </td>
                                        </tr>

                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Password</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input  name="password" size="20" style="width:255px;height:1.5em;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:0.4em 1em;border:1px solid #c5c5c5;background:#f6f6f6" id="password" tabindex="2" title="Please enter the valid Password" type="password">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Confirm Password</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input  name="cfmpassword" size="20" style="width:255px;height:1.5em;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:0.4em 1em;border:1px solid #c5c5c5;background:#f6f6f6" id="cfmpassword" tabindex="2" title="Please re-enter the valid Password" type="password">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Start Date</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <input type="text" id="startTimeDatePicker">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Role</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <select id="roleSelection">
                                                    <option value="staff">staff</option>
                                                    <option value="student">student</option>
                                                    <option value="player" selected>player</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="20%">
                                                <span style="padding:15px">Status</span>
                                            </td>
                                            <td valign="top" width="80%">
                                                <select id="statusSelection">
                                                    <option value="active" selected>active</option>
                                                    <option value="inactive">inactive</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" colspan="2" >
                                                <button id="adduser" class="ui-button ui-widget ui-corner-all">Add User</button>
                                            </td>

                                        </tr>
                                        </tbody></table>
                                    <div class="clear">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="footer"></div>


    <div id="useradd-warning-dialog" title="Warning">
        <p id="useradd-warning-text"></p>
    </div>

    <div id="useradd-success-dialog" title="Success">
        <p id="useradd-success-text"></p>
    </div>
</body>
</html>