<div id="footer">
  <div class="footer_inner">
    <div class="fut_left" style="width:400px;">
      Copyright © 2013 - 2022  <a target="_blank" href="http://examity.com/" style="color:white;">COLLEGE&nbsp;<sup>®</sup></a>&nbsp; All Rights Reserved.
    </div>
    <div id="supportpanels" style="float: right; color: white; font-size: 13px; padding: 6px; text-align: right;">
      <div class="ulCss" style="float: left;">

      </div>
      <div class="livechatpannel" style="float: left; cursor: pointer">
        <u class="ulCss">
        </u>&nbsp;&nbsp;|

      </div>
      <div id="Emailsupport" style="float: left;">
        &nbsp;&nbsp;<a href="mailto:support@examity.com" style="color: white"><u>Email Support</u></a>&nbsp;&nbsp;|&nbsp;&nbsp;
      </div>
      <div id="phonesupport" style="float: left;">
        Phone Support: 416-COLLEGE
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
</div>