<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> College Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/college.css">
    <link rel="stylesheet" href="css/ApplicationStyleSheet.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div th:replace="topbanner"></div>
<!-- content start -->


    <div id="application_container">
        <div class="main-container">
            <div th:replace="topmenu"></div>



            <div class="container_inner">
                <div class="login_new1" id="operation-container">




                </div>
            </div>

        </div>
    </div>
    <div th:replace="footer"></div>


</body>
</html>