<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> College Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/college.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link href="favicon.ico" type="image/x-icon" rel="icon" />
    <script>
     function videoEnded() {
       alert('video ended');
   }
</script>
</head>
<body>
<div class="container">
    <video id="myvideo" width="400" controls onended="videoEnded()" poster="https://college-upload1.s3.amazonaws.com/videoimg.jpg">
        <source src="https://college-upload1.s3.amazonaws.com/song.mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="js/ajax_functions.js?1"></script>


</body>
</html>